{{> navbar this}}
<div class="mt-5 mb-3 container-sm">
    <h2>Zona de selección de cine y película.</h2>
    {{#if error}}
    <div class="mb-3 form-group">
        <h3>{{error}}</h3>
    </div>
    {{/if}}
</div>
<div class="container-sm bg-light mb-3 p-3 border">
    <form id="continueToSelectSeatFormID" action="/continueToSelectSeats" method="POST">
        <div class="mb-3 form-group">
            <h3>Elegir cine y película</h3>
        </div>
        <div class="mb-3 form-group">
            <label for="selectCinemaAndMovieCinemasListID" class="form-label">Cine</label>
            <select name="id_cinema" class="form-select" id="selectCinemaAndMovieCinemasListID" onchange="getMoviesForThisCinema()">
                <option disabled selected>Seleccione un cine</option>
                {{#each cinemas}}
                <option data-cinema-id="{{this.ID_Cinema}}" value="{{this.ID_Cinema}}">{{this.cinema_name}} -
                    {{this.address}} - {{this.city}}
                </option>
                {{/each}}
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="selectCinemaAndMovieMoviesListID" class="form-label">Película</label>
            <select name="id_movie" class="form-select" id="selectCinemaAndMovieMoviesListID" onchange="getSchedule()" disabled>
                <option disabled selected>Seleccione una película</option>
                <!-- Acá se van a introducir las películas en cuanto elijamos un cine -->
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="selectCinemaAndMovieScheduleID" class="form-label">Horario</label>
            <select name="movie_schedule" class="form-select" id="selectCinemaAndMovieScheduleID"
                onchange="enableButton('selectCinemaAndMovieContinueButtonID')" disabled>
                <option disabled selected>Seleccione un horario</option>
                <!-- Acá se van a introducir los horarios en cuanto elijamos una película -->
            </select>
        </div>
        <div class="mb-3 form-check">
            <button type="button" id="selectCinemaAndMovieContinueButtonID" class="btn btn-success btn-lg"
                onclick="continueToSelectSeat()" disabled>Continuar</button>
        </div>
    </form>
</div>

{{> returnHome this}}